{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://de.wikipedia.org/w/load.php?debug=false&lang=de&modules=mediawiki.diff.styles&only=styles" />
{% endblock %}
{% block jquery %}
$.getJSON("https://de.wikipedia.org/w/api.php?action=compare",
          {"fromrev": {{parent_id}},
           "torev": {{rev_id}},
           "format": "json",
           "origin": "*"},
          function(result) {
            $("#diff").html(result.compare["*"]);
          });
{% endblock %}
{% block content %}
<div class="col-ld-6">
  <table class="diff" id="diff">
Loading...
  </table>
  </div>
{% endblock %}

